
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    padding: 1em 0.5em;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;;
}


.nav-title{
    font-size: 50px;
    color: #007F61;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

body{
    position: relative;
    /* background-image: url(/images/aaron-burden-QJDzYT_K8Xg-unsplash.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
    overflow-x: hidden;
}
.cloud{
    background-color: #007F61;
    position: absolute;
    left: 10%;
    width: 91%;
    height: 400%;
    top: 100%;
    border-radius: 50%;
    overflow: visible;

}
.cloud-footer{
    display: flex;
    position: absolute;
    background-color: #007F61;
    width: 105%;
    height: 800%;
    margin-top: 10%;
    left: -20px;
    overflow: visible;

}
.cloud-side {
    position: absolute;
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #007F61;
    transform: skewY(-10deg);
    overflow: visible;

}
.right{
    top: 20%;
    left: 90%;
}
.left {
    top: 20%;
    right: 105%;
}
.cloud-shaper {
    background-color: white;
    position: absolute;
    width: 900px;
    height: 600px;
    border-radius: 50%;
    top: 50%;
    left: 4%;
    z-index: 1;
}
.cloud-shaper-two{
    background-color: #007F61;
    position: absolute;
    width: 250px;
    height: 200px;
    left: 34.8%;
    top: 113.4%;
    border-radius: 50%;
    z-index: 2;
}
.middle-right{
    position: absolute;
    left: 50%;
    top: 90%;
}
.card {
    display: flex;
    position: absolute;
    box-shadow: 0 9px 20px 0.5px rgba(0, 0, 0, 0.4);
    z-index: 5;
    width: 900px;
    height: 500px;
    background-size: cover;
    border-radius: 5%;
    overflow: hidden;
    justify-content: center;
    font-weight: 700;
    overflow: visible;
    z-index: 5;
    background: white;

    
}
/* .card:hover{
    animation: hover 0.5s ease-out;


} */



.card-title{
    position: relative;
    bottom: 30%;
    right: 0%;
    font-size: 50px;
    color: rgb(30,30,30);
    /* color: white; */
    z-index:7;
}
.card-content{

    z-index: 0;
}

.card-body{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    font-size: 40px;
    font-weight: 400;
    color: gray;
    z-index: 10;
}
.card-sub{
    z-index: 20;
    font-size: 40px;
    font-weight: 400;
    color: gray;
    position: absolute;
    top: 20%;
}
.card-third{
    z-index: 20;
    font-size: 40px;
    font-weight: 400;
    color: gray;
    position: absolute;
    top: 35%;
}
.card-img{
    position: absolute;
    display: flex;

   
}
.card-image{
    z-index: 4;
    position: absolute;
    margin: 0 auto;
}
/* img{
    position: absolute;
    width:910px;
    right: 0%;
    top: 0%;
    bottom: 20%;
    height: 520px;
    filter: blur(3px);
    border-radius: 5%;
    box-shadow: 0px 20px 22px 1px rgba(0, 0, 0, 0.2);

} */
/* .wrap{
    background-color: white;
    position: absolute;
    left: 57%;
    height: 450px;
    width: 500px;
    z-index:6;
} */
.card-outlet{
    top: 75%;
    right: 0%;
    width: 950px;
    height: 130px;
    background-color: #005440;
    position: absolute;
    z-index: 10;
}
.outlet-backside{
    width: 100px;
    height: 100px;
    background-color: #00382A;
    position: absolute;
    left: 49%;
    top: 175%;
    transform: rotate(45deg);
    z-index: 1;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 100px;  
    margin: 0 auto;
    background-color: transparent;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: rgba(40, 40, 40);
    font-size: 30px;
    border-radius: 5%;
    border: none;
}
.btn-primary{
    background-color: white;
}
.btn:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.btn:active{
    transform: translateY(0px);
}
.card-title::after{
    content: "";
    width: 500px;
    background:radial-gradient(transparent,lightgray,transparent);
    height: 3px;
    z-index: 50;
    top: 60%;
    left: 10%;
    position: absolute;
}
.card-right{
    left: 78%;
}
.huge-font{
    position: absolute;
    font-size: 120px;
    z-index: 4;
    top:220%;
    color:white;
    font-weight: 600;
    animation: slideFromTop 4s ease-in-out;
}



/* Animations */
@keyframes hover {
    0%{
    transform: scale(1);

    }
    50%{
        transform: scale(1.1);

    }
    100%{
        transform: scale(1);

    }
}

@keyframes slideFromTop {
    0%{
        color: transparent;
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);

    }
}
footer{
    display: flex;
    position: absolute;
    background-color: white;
    top: 922%;
    width: 105%;
    left:-1%;
    background-color: #005440;
   

}
li{
    font-size: 30px;
    text-decoration: none;
    list-style: none;
    padding: 50px;
    color: white;
    font-weight: 600;
    justify-self: center;
    
}
ul{
    
    margin: 0 auto;
    padding: 50px;
    justify-content: center;
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: space-between;
    margin: 10px;
    padding: 0;
    width: 2500px;

}


nav{
    padding-left: 40%;
}
.bottom{
    position: absolute;
    top:650%;
}
.title-card{
    font-size: 50px;
    padding-top: 0;
    position: relative;
    left: 60%;
}
.card-img{
    position: relative;
    width: 150px;
    height: 150px;
    background-color: white;
    bottom: 20%;
    border-radius: 50%;
    right: 140%;
    box-shadow: 0 0 20px 12px rgba(0, 0, 0, 0.4);
}
.body-card{
    position: relative;
    top: 20%;
    width: 100%;
    font-size: 30px;
    left: 30%;
    color: gray;
}
.buy-content{
    display: flex;
    position: relative;
    top: 10%;
    width: 100%;
    right: 40%;
    font-size: 25px;
    font-style: italic;
}
.rigth{
    left: 60%;
}